---
layout: default
title: Home
permalink: /
comments: false
---

        {% for post in paginator.posts %}
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary {% if post.layout != 'post' %}format-{{ post.layout }}{% endif %}'>
            <header class='post-header'>
              <h2 itemprop='headline'><a href='{{ post.url }}' itemprop='url'>{{ post.title }}</a></h2>
              {% include partials/meta.html %}
            </header>
            
            <section class='post-summary' itemProp='articleBody'>
              {% include partials/summary.html %}
            </section>
            
            <footer class='post-footer'>
              <a class='read-more' href='{{ post.url }}' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
          </article>

          <hr />

        {% endfor %}
        
        {% include paging.html %}
                    