---
layout: archive
title: Home
permalink: /
comments: false
---

                    {% for post in paginator.posts %}
                    <article itemscope itemtype="http://schema.org/BlogPosting" class="post summary">
                        <header class="post-header">
                            <h2 itemprop="headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
                            <time itemprop="datePublished" content="{{ post.date | date: '%F' }}" datetime='{{ post.date }}'>{{ post.date | date: "%d %b %Y" }}</time>
                        </header>
                        
                        <section class="post-content" itemProp="articleBody">
                            {{ post.excerpt }}
                        </section>
                        
                        <footer class="post-footer">
                        </footer>
                    </article>
                    {% endfor %}
                    
                    {% include paging.html %}
                    