%media {
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}
article {
    @extend %central;
    @extend %clearfix;

    header {
        &:not(h2) {
            font-size: smaller;
        }
    }

    .post-nav {
        @extend %clearfix;
        clear: both;
    }

    &.summary, &.page, &.series {
        &::after {
            @extend %divider-gradient-top;
            margin-top: 1em;
        }

        &::before {
            @extend %divider-gradient-bottom;
            margin-bottom: 2em;
        }
        section[itemprop=articleBody] {
            overflow: auto;
        }
    }

    &.single {
        padding: 1em;
    }

    &.format-gallery {
        @extend %media;
    }

    &.format-image {
        @extend %media;
        section[itemprop=articleBody] .alignleft {
            display: block;
            float: none;
            margin: 0.5em auto;
        }
    }

    &.format-video {
        @extend %media;
    }

    .series_list {
        background: rgba($colour-highlight, 0.25);
        border-left: 0.25em solid $colour-highlight;
        float: right;
        margin: 1.1em 0.5em;
        max-width: 22em;
        padding: 0.75em;
        width: 35%;
        ol {
            padding-left: 1.5em;
            li {
                padding-left: 0.5em;    
            }
        }
    }

    section[itemprop=articleBody] {
        padding: 1em 0;
    }

    footer {
        overflow: auto;
        .read-more {
            @extend %button;
            float: right;
        }
    }
}

