html {
  @include box-sizing(border-box);
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
} 

a {
  color: $colour-base;
  text-decoration: none;

  &:hover,
  &:active, {
    border-bottom: 1px solid $colour-highlight;    
  }
}


body {
    min-height: 100%;
    padding: 0;
}

img {
    max-width: 100%;
}

main,
aside[role='complementary'],
footer[role='contentinfo'] {
    padding: 0 2em 2em;
}

table {
    border-collapse: collapse;
    margin: 0.625em 0;
    th, td {
        padding: 0.25em;
    }
    th {
        background: $colour-base;
        color: $colour-lightgrey;
    }
    td {
        background: rgba($colour-base, 0.25);
    }
}

