
{% if page.comments %}
{% capture identifier %}{% if page.wordpress_id %}{{ page.wordpress_id }}{% else %}{{ page.url }}{% endif %}{% endcapture %}
<script defer type="text/javascript">var disqus_shortname="{{ site.disqus.shortname }}",disqus_identifier="{{ identifier }}",disqus_url="http://richard.perry-online.me.uk{{ page.url }}";!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="http://"+disqus_shortname+".disqus.com/embed.js",(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(e)}();</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
<script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<!-- <script>window.jQuery || document.write('<script src="/assets/scripts/vendor/jquery-1.10.1.min.js"><\/script>')</script> -->
<!--<script defer src="/assets/scripts/vendor/jquery.slicknav.min.js"></script> -->
<script defer src="/assets/scripts/vendor/jquery.colorbox.min.js"></script>
<script defer src="/assets/scripts/main.min.js"></script>