                
                </section><!-- #main-content -->
                
                <section id="secondary-content"  itemscope itemtype="http://schema.org/WPSidebar" role="sidebar">
                    {% include sidebar.html %}
                </section><!-- #secondary-content -->
            </div><!-- #content -->
            
            <footer id="page-footer" itemscope itemtype="http://schema.org/WPFooter">
                This is a placeholder footer that will get updated once I have finished playing.
            </footer><!-- #page-footer -->
        </div><!-- #container -->
        
        {% include foot-scripts.html %}
    </body>
</html>