{% capture icon %}
    {% case post.format %}
        {% when 'gallery' or 'image' %}
            <i class='fa fa-picture-o'></i> 
        {% when 'video' %}
            <i class='fa fa-film'></i> 
        {% when 'link' %}
            <i class='fa fa-link'></i> 
        {% else %}
            
    {% endcase %}
{% endcapture %}
                <header>
                    <h2 itemprop='headline'>
                        <a href='{{ post.url }}' itemprop='url'>
                            {{ icon }}{{ post.title }}
                        </a>
                    </h2>
                    {% include meta.html %}
                </header>

                <section itemProp='articleBody'>
                {% if post.format == "gallery" %}
                    {{ post.excerpt }}
                    This Gallery contains {{ post.images }} photos.
                {% else %}
                    {% if post.video %}<iframe width='560' height='315' src='//www.youtube.com/embed/{{post.video}}?rel=0' frameborder='0' allowfullscreen itemProp='video'></iframe><br/>{% endif %}
                    {% if post.image %}<img src="{{ post.image }}" title="{{ post.title }}" alt="{{ post.title }}" class='alignleft' />{% endif %}
                    {{ post.content | markdownify | strip_html | truncatewords: 125 }}
                {% endif %}
                </section>
                        
                <footer>
                    <a class='read-more' href='{{ post.url }}' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
                </footer>
                    