{% case post.layout %}
    {% when 'gallery' %}
                            {% for img in post.thumbs %}<img src='{{ site.thumbs }}/{{ post.slug }}/{{ img }}' title='{{ post.title }}' alt='{{ post.title }}' class='alignleft' />{% endfor %} This Gallery contains {{ post.images }} photos.
    {% when 'image' %}
                            <img src='{{ site.thumbs }}/{{ post.slug }}/{{ post.image }}' title='{{ post.title }}' alt='{{ post.title }}' class='alignleft' />
    {% when 'video' %}
                            {% oembed https://www.youtube.com/watch?v={{ post.video }}&rel=0 width=640 height=360 %}
    {% else %}
                            {% if post.image %}<img src='{{ site.thumbs }}/{{ post.slug }}/{{ post.image }}' title='{{ post.title }}' alt='{{ post.title }}' class='alignleft' />{% endif %}
                            {{ post.content | strip_html | truncatewords: 115 | markdownify }}
{% endcase %}