@import 'modules/config';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  font: $base-font-size $base-font-family;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
li {
  display: block;
}
iframe {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}
h1,
h2,
h3,
h4 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 65%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
a,
button {
  color: inherit;
  transition: .3s;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  &:focus {
    outline: 0;
  }
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
p {
  margin: 1em auto;
}
small {
  font-size: 80%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}