// Font weights
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$base-font-weight: $regular;
$base-font-size: 15px/1;
$base-line-height: 1.6;

// Fixed Font
$fixed-font-family: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-family: 'Indie Flower', serif !default;
$header-font-weight: $regular;

// Colours
// Colour pallette: http://paletton.com/#uid=33D0u0kv9hBmKpCr1lBEKcVPJ7I
$colour-base: #0a2e5c !default;
$colour-highlight: #8c3604 !default;
$colour-darkgrey: #343b4e !default;
$colour-lightgrey: #c8c9ce !default;
$colour-text: #111111 !default;