// Font weights
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Lato', sans-serif !default;
$base-font-weight: $regular;
$base-font-size: 1em;
$base-line-height: 1.25;
$large-line-height: 1.375;

// Fixed Font
$fixed-font-family: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-family: 'Indie Flower', cursive !default;
$header-font-weight: $regular;

// Colours
// Colour pallette: http://paletton.com/#uid=33D130kv5rJFLtJ-hsOsAqwpUpa
$colour-base: #104891 !default;
$colour-highlight: #c60640 !default;
$colour-darkgrey: #34446b !default;
$colour-lightgrey: #e3e4ea !default;
$colour-text: #111111 !default;

$page-width: 80em;
$article-width: 60em;