---
---
@charset 'UTF-8';

// 1. Configuration and helpers
@import
    'abstracts/variables',
    'abstracts/mixins';

// 2. Vendors
@import
    'vendor/normalize',
    'vendor/font-awesome',
    'vendor/slicknav',
    'vendor/colorbox';

// 3. Base styles
@import 
    'base/base',
    'base/typography',
    'base/helpers';

// 4. Theme files
@import
  'theme/base',
  'theme/header',
  'theme/navigation',
  'theme/article',
  'theme/footer',
  'theme/media-queries';  

// 5. Components
@import
  'components/archives',
  'components/flickr-galleries',
  'components/pagination';

// 6. Page-specific styles
@import
  'pages/tags';