
<div class='social'>
  <span class="fa-stack fa-lg">
    <a href='//www.facebook.com/{{site.author.facebook}}' title='Facebook'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href='//twitter.com/{{site.author.twitter}}' title='Twitter'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href='//linkedin.com/pub/{{site.author.linkedin}}' title='LinkedIn'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href='//flickr.com/photos/{{site.author.flickr}}' title='Flickr'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href='//instragram.com/{{site.author.instagram}}' title='Instagram'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href='//github.com/{{site.author.github}}' title='GitHub'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack fa-lg">
    <a href='mai&#108;to&#58;{{site.author.email}}' title='Email'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </a>
  </span>
</div>
