{% capture read_more %}<a class='read-more' href='{{ post.url }}' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>{% endcapture %}
{% capture thumb %}{% if post.image %}<img src="{{ post.image }}" title="{{ post.title }}" alt="{{ post.title }}" class='alignleft' />{% endif %}{% endcapture %}
{% case post.format %}
        {% when 'gallery' or 'image' %}
            {% capture link %}<a href='{{ post.url }}' itemprop='url'><i class='fa fa-picture-o'></i> {% endcapture %}
        {% when 'video' %}
            {% capture link %}<a href='{{ post.url }}' itemprop='url'><i class='fa fa-film'></i> {% endcapture %}
        {% when 'link' %}
            {% capture link %}<a href='{{ post.link }}' itemprop='url'><i class='fa fa-link'></i> {% endcapture %}
        {% else %}
            {% capture link %}<a href='{{ post.url }}' itemprop='url'>{% endcapture %}
{% endcase %}
{% case post.format %}
        {% when 'gallery' %}
            {% capture excerpt %}<p itemProp='articleBody'>{{ post.excerpt }}</p>
                <p>This Gallery contains {{ post.images }} photos.</p>{% endcapture %}
        {% else %}
            {% capture excerpt %}{{ thumb }}
                <p itemProp='articleBody'>{% if post.summary %}{{ post.summary }}{% else %}{{ post.content | markdownify | strip_html | truncatewords: 125 }}{% endif %}</p>{% endcapture %}
{% endcase %}
                <header>
                    <h2 itemprop='headline'>{{ link }}{{ post.title }}</a></h2>
                    {{ head }}
                    {% include partials/meta.html %}
                </header>

                {{ excerpt }}
                        
                <footer>
                    {{ read_more }}
                </footer>
                    