/* ==========================================================================
   Layout styles
   ========================================================================== */

#container {
    width: 90%;
}

.column {
    float: left;
    width: 100%;
}