/* ==========================================================================
   Site Specific Styles
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    padding:0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #101010;
    background-color: #FBFAF7;
    margin: 0;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin:36px 0 10px;
    text-transform: uppercase;
}

p, ul, ol, table, dl {
    margin:0 0 22px;
}

h1, h2, h3 {
    line-height:1.3;
    font-weight: normal;
}

h1,h2, h3 {
    display: block;
    padding-bottom: 5px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4, h5, h6 {
    font-weight: bold;
}

a {
    color:#21759b;
    font-weight:200;
    text-decoration:none;
}

a:hover {
    border-bottom: 1px solid red;
}

a small {
    font-size: 12px;
}

em {
    font-style: italic;
}

strong {
    font-weight:700;
}

ul {
    list-style: inside;
    padding-left: 25px;
}

ol {
    list-style: decimal inside;
    padding-left: 20px;
}

blockquote {
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

dl, dt, dd, dl p {
    font-color: #444;
}

dl dt {
    font-weight: bold;
}

dl dd {
    padding-left: 20px;
    font-style: italic;
}

dl p {
    padding-left: 20px;
    font-style: italic;
}

hr {
    border:0;
    background:#ccc;
    height:1px;
    margin:0 0 24px;
}

/* Images */

img {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    padding: 5px;
    margin: 10px 0 32px 0;
    border: 1px solid #ccc;
}

p img {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
}

/* Code blocks */

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#000;
    font-size:14px;
}

pre {
    padding: 4px 12px;
    background: #FDFEFB;
    border-radius:4px;
    border:1px solid #D7D8C8;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 32px;
}


/* Tables */

table {
    width:100%;
}

table {
    border: 1px solid #ccc;
    margin-bottom: 32px;
    text-align: left;
 }

th {
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    background: #232323;
    color: #FDFEFB;
 }

td {
    padding: 10px;
    background: #ccc;
 }




/* Header */

header {
    
}

p.header {
    font-size: 16px;
}

h1.header {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3em;
    border-bottom: none;
    margin-top: 0;
}

/* Section - for main page content */

#main {
    float:right;
    padding-bottom:50px;
}


/* Footer */

footer#page-footer {
    float:left;
    position:fixed;
    bottom:10px;
    padding-left: 50px;
}




/* ==========================================================================
   Post Styles
   ========================================================================== */

.post header.post-header h2 a {
    color: #101010;
}

.post header.post-header time {

}

.post header.post-header time:before {
    content: " ";
    
}







[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}


.right {
    float: right;
}

