/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {


    
}

@media only screen and (min-width: 600px) {

    #page-header hgroup {
        height: 195px;
    }
    
    #page-header .site-title {
        padding-top: 55px;
    }

    #main-content {
        width: 65%;
    }
     
    #secondary-content {
        width: 30%;
    }

    .title {
        float: left;
    }

    .slicknav_menu {
        display: none;
    }

    #primary-navigation { 
        clear:both; 
        display:block; 
        float:left;
        margin: 5px auto;
        text-align: center;
        width:100%; 
    }
    #primary-navigation a { 
        display:inline-block; 
        padding: 0 5px; 
        width:85px; 
    }
    #primary-navigation li { 
        display:inline; 
        position:relative; 
        padding:0;
    }
    #primary-navigation ul.main-menu { 
        display:block;
        list-style:none; 
        margin:0; 
        padding-left:0; 
    }
    #primary-navigation ul ul { 
        display:none; 
        float:left; 
        margin:0; 
        position:absolute; 
        top:95%; 
        left:-35%;
        width:100%;
        z-index:99999;
    }
    #primary-navigation ul ul ul { 
        left: 100%; 
        top: -6px; 
    }
    #primary-navigation ul ul a { 
        background-color: white;
        width: 105px;
    }
    #primary-navigation ul li:hover > ul,
    #primary-navigation hr,
    #primary-navigation hr::after { 
        display:block; 
    }

}

@media only screen and (min-width: 800px) {
    
    #main-content {
        width: 72.5%;
    }
     
    #secondary-content {
        width: 22.5%;
    }
}

@media only screen and (min-width: 1140px) {
  
    #container {
        float: none;
        margin: 0 auto;
        width: 1140px;
    }
}

