/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 30em) {


    
}

@media only screen and (min-width: 40em) {

    .slicknav_menu {display: none;}

    #page-header hgroup {height: 195px;}
    #page-header .site-title {padding-top: 55px;}

    #main-content {float:left;width:64%;}
     
    #secondary-content {float:right;width:34%;}

    #primary-navigation {clear:both;display:block;margin:0.3125em auto;text-align: center;width:100%;}
    #primary-navigation a {display:inline-block;padding:0 0.3125em;width:5.3em;}
    #primary-navigation li {display:inline;position:relative;padding:0;}
    #primary-navigation ul.main-menu {display:block;list-style:none;margin:0;padding-left:0;}
    #primary-navigation ul ul {display:none;float:left;margin:0;position:absolute;top:95%;left:-35%;
        width:100%;z-index:99999;}
    #primary-navigation ul ul ul {left: 100%;top: -6px;}
    #primary-navigation ul ul a {background-color: white;width: 105px;}
    #primary-navigation ul li:hover > ul,
    #primary-navigation hr,
    #primary-navigation hr::after {display:block;}

}

@media only screen and (min-width: 50em) {
    
    #main-content {width: 74%;}
     
    #secondary-content {width:24%;}
}

@media only screen and (min-width: 1140px) {

}

