/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    #main-content {
        width: 72.5%;
    }
     
    #secondary-content {
        width: 22.5%;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    .slicknav_menu {
        display: none;
    }

    #primary-navigation { 
        clear:both; 
        display:block; 
        float:left;
        width:100%; 
    }
    #primary-navigation a { 
        display:inline-block; 
        padding: 0 5px; 
        width:85px; 
    }
    #primary-navigation li { 
        display:inline; 
        position:relative; 
        padding:0;
    }
    #primary-navigation ul.main-menu { 
        display:block;
        list-style:none; 
        margin:0; 
        padding-left:0; 
    }
    #primary-navigation ul ul { 
        display:none; 
        float:left; 
        margin:0; 
        position:absolute; 
        top:95%; 
        left:-30%;
        width:160px;
        z-index:99999;
    }
    #primary-navigation ul ul ul { 
        left: 100%; 
        top: -6px; 
    }
    #primary-navigation ul ul a { 
        background-color: white;
        width: 148px;
    }
    #primary-navigation ul li:hover > ul { 
        display:block; 
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    #container {
        float: none;
        margin: 0 auto;
        width: 1140px;
    }
}

