<!DOCTYPE html>
<html xmlns:fb='http://ogp.me/ns/fb#' xmlns:og='http://ogp.me/ns#' lang='en-GB'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Series: Travel Memories | Richard Perry</title>
    <meta name='description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta name='author' content="">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='http://richard.perry-online.me.uk/assets/css/main.min.css'>
    <link rel='alternate' href='http://richard.perry-online.me.uk/feed.xml' type='application/rss+xml' title='Richard Perry'>
    <link rel='author' href="https://plus.google.com/">
    <link rel='canonical' href="http://richard.perry-online.me.uk/series/travel-memories/">
    
    <script src='http://richard.perry-online.me.uk/assets/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js'></script>
        
    <meta property='og:type' content='article'>
    <meta property='og:title' content="Series: Travel Memories | Richard Perry">
    <meta property='og:description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta property='og:url' content="http://richard.perry-online.me.uk/series/travel-memories/">
    <meta property='og:site_name' content="Richard Perry">
    
    <meta name='twitter:title' content="Series: Travel Memories | Richard Perry">
    <meta name='twitter:description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta name='twitter:url' content="http://richard.perry-online.me.uk/series/travel-memories/">
    <meta name='twitter:creator' content="">
  </head>

  <body>
    <div id='container'>
      <header id='page-header' role='banner' itemscope itemtype='http://schema.org/WPHeader'>
        <hgroup>
          <h1 class='site-title'>Richard Perry</h1>
          <h2 class='site-description'>Just another blog about nothing</h2>
        </hgroup>
                <nav id="primary-navigation" role="navigation" >
          <ul class="main-menu" >
            <li>
              <a href="http://www.perry-online.me.uk/" title="Home" >Home</a>
              <ul>
                <li>
                  <a href="http://www.perry-online.me.uk/about/" title="About Us" >About Us</a></li>
              
                <li>
                  <a href="http://www.perry-online.me.uk/author/richard-perry/" title="Richard Perry" >Richard Perry</a></li>
              
                <li>
                  <a href="http://www.perry-online.me.uk/author/rosie-perry/" title="Rosie Perry" >Rosie Perry</a></li>
              
                <li>
                  <a href="http://www.perry-online.me.uk/author/rosie-jim/" title="Rosie & Jim" >Rosie & Jim</a></li>
              
                <li>
                  <a href="http://www.perry-online.me.uk/archives/" title="Global Archives" >Global Archives</a></li>
              </ul>
            </li>
          
            <li>
              <a href="http://travel.perry-online.me.uk/" title="Travel" >Travel</a>
              <ul>
                <li>
                  <a href="http://travel.perry-online.me.uk/cornwall-2012/" title="Cornwall 2012" >Cornwall 2012</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/vietnam-2011/" title="Vietnam 2011" >Vietnam 2011</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/new-year-2010-11/" title="New Year 2010-11" >New Year 2010-11</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/honeymoon-2010/" title="Honeymoon 2010" >Honeymoon 2010</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/china-2009/" title="China 2009" >China 2009</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/china-2009/three-nations/" title="Three Nations 2009" >Three Nations 2009</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/archives/" title="Travel Archives" >Travel Archives</a></li>
              </ul>
            </li>
          
            <li>
              <a href="http://richard.perry-online.me.uk/" title="Richard" >Richard</a>
              <ul>
                <li>
                  <a href="http://richard.perry-online.me.uk/about/" title="About Me" >About Me</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/general/" title="General" >General</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/george/" title="George" >George</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/languages/" title="Languages" >Languages</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/outdoors/" title="Active/Outdoors" >Active/Outdoors</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/photography/" title="Photography" >Photography</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/reviews/" title="Reviews" >Reviews</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/technology/" title="Technology" >Technology</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/series/" title="Post Series" >Post Series</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/archives/" title="Blog Archives" >Blog Archives</a></li>
              </ul>
            </li>
          
            <li>
              <a href="http://photos.perry-online.me.uk/" title="Photos" >Photos</a>
              <ul>
                <li>
                  <a href="http://photos.perry-online.me.uk/george/" title="George" >George</a></li>
              
                <li>
                  <a href="http://photos.perry-online.me.uk/events/" title="Events" >Events</a></li>
              
                <li>
                  <a href="http://photos.perry-online.me.uk/travel/" title="Travel" >Travel</a></li>
              
                <li>
                  <a href="http://photos.perry-online.me.uk/other/" title="Other" >Other</a>
                  <ul>
                    <li>
                      <a href="http://photos.perry-online.me.uk/other/days-out/" title="Days Out" >Days Out</a>
                    </li>
                  </ul>
                </li>
              
                <li>
                  <a href="http://photos.perry-online.me.uk/wedding/" title="Our Wedding" >Our Wedding</a></li>
              
                <li>
                  <a href="http://photos.perry-online.me.uk/archives/" title="Photo Archives" >Photo Archives</a></li>
              </ul>
            </li>
          </ul>
          <hr />
        </nav><!-- #primary-navigation -->
      </header><!-- #page-header -->
      
      <div id='content'>
        
        <section id='main-content' role='main' itemscope itemtype='http://schema.org/Blog'>
                

          
          <h2 itemProp="headline">Series: Travel Memories</h2>
          
          
                  
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/serbia-hungary-06/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: Serbia & Hungary 2006</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-04-16' datetime='2014-04-16 20:14:04 +0000'> 16 Apr 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='//www.perry-online.me.uk/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <div class='flickr summary'>
<span>
<a title="Train Station in Budapest" href="https://farm3.staticflickr.com/2932/13805433943_28848300f1_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2932/13805433943_28848300f1_q.jpg' alt="Train Station in Budapest" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805433943/' class='flickrlink'> </a>
</span>
<span>
<a title="Eagle in Belgrade Zoo" href="https://farm4.staticflickr.com/3803/13805441393_100d0959d4_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3803/13805441393_100d0959d4_q.jpg' alt="Eagle in Belgrade Zoo" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805441393/' class='flickrlink'> </a>
</span>
<span>
<a title="Looking out from Belgrade Zoo" href="https://farm4.staticflickr.com/3725/13805425175_c6b08c44b2_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3725/13805425175_c6b08c44b2_q.jpg' alt="Looking out from Belgrade Zoo" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805425175/' class='flickrlink'> </a>
</span>
<span>
<a title="Friends we met in our hostel in Belgrade" href="https://farm3.staticflickr.com/2810/13805777864_88f8c36723_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2810/13805777864_88f8c36723_q.jpg' alt="Friends we met in our hostel in Belgrade" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805777864/' class='flickrlink'> </a>
</span>
<span>
<a title="Church of Saint Sava, Belgrade" href="https://farm8.staticflickr.com/7389/13805440025_66e0f8043d_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7389/13805440025_66e0f8043d_q.jpg' alt="Church of Saint Sava, Belgrade" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805440025/' class='flickrlink'> </a>
</span>
<span>
<a title="Night out in Belgrade" href="https://farm4.staticflickr.com/3818/13805468613_457d0aa307_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3818/13805468613_457d0aa307_q.jpg' alt="Night out in Belgrade" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805468613/' class='flickrlink'> </a>
</span>
<span>
<a title="Serbia & Hungary 2006 - Serbia" href="https://farm4.staticflickr.com/3698/13805800144_12029af158_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3698/13805800144_12029af158_q.jpg' alt="Serbia & Hungary 2006 - Serbia" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805800144/' class='flickrlink'> </a>
</span>
<span>
<a title="Serbia & Hungary 2006 - Serbia" href="https://farm3.staticflickr.com/2936/13805487013_22888bbd1c_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2936/13805487013_22888bbd1c_q.jpg' alt="Serbia & Hungary 2006 - Serbia" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13805487013/' class='flickrlink'> </a>
</span>
</div>

                This Gallery contains 26 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/serbia-hungary-06/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/africa-06-07/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: South Africa 2006-07</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-04-26' datetime='2014-04-26 06:56:09 +0000'> 26 Apr 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='//www.perry-online.me.uk/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <div class='flickr summary'>
<span>
<a title="Little Sis Sleeping in Abu Dhabi Airport" href="https://farm8.staticflickr.com/7028/13932366814_56cf313055_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7028/13932366814_56cf313055_q.jpg' alt="Little Sis Sleeping in Abu Dhabi Airport" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13932366814/' class='flickrlink'> </a>
</span>
<span>
<a title="Abu Dhabi and Beyond" href="https://farm8.staticflickr.com/7175/13908820042_be05742098_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7175/13908820042_be05742098_q.jpg' alt="Abu Dhabi and Beyond" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13908820042/' class='flickrlink'> </a>
</span>
<span>
<a title="Santa's Sleigh!?!?" href="https://farm8.staticflickr.com/7272/13908816961_305519be53_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7272/13908816961_305519be53_q.jpg' alt="Santa's Sleigh!?!?" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13908816961/' class='flickrlink'> </a>
</span>
<span>
<a title="Mafikeng Centenary Moot" href="https://farm8.staticflickr.com/7096/13908823611_e53329b135_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7096/13908823611_e53329b135_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13908823611/' class='flickrlink'> </a>
</span>
<span>
<a title="Mafikeng Centenary Moot" href="https://farm3.staticflickr.com/2905/13908828361_d7fc396ce8_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2905/13908828361_d7fc396ce8_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13908828361/' class='flickrlink'> </a>
</span>
<span>
<a title="Mafikeng Centenary Moot" href="https://farm3.staticflickr.com/2921/13932396594_e3635d4204_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2921/13932396594_e3635d4204_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13932396594/' class='flickrlink'> </a>
</span>
<span>
<a title="Mafikeng Centenary Moot" href="https://farm8.staticflickr.com/7048/13932400804_875d828a19_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7048/13932400804_875d828a19_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13932400804/' class='flickrlink'> </a>
</span>
<span>
<a title="Mafikeng Centenary Moot" href="https://farm8.staticflickr.com/7136/13908843651_fa9611370d_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7136/13908843651_fa9611370d_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13908843651/' class='flickrlink'> </a>
</span>
</div>

                This Gallery contains 33 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/africa-06-07/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/world-jamboree-07/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: 21st World Scout Jamboree 2007</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-05-25' datetime='2014-05-25 08:40:35 +0000'> 25 May 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='//www.perry-online.me.uk/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <div class='flickr summary'>
<span>
<a title="The Arrival of Buddha" href="https://farm6.staticflickr.com/5551/14129808652_f7744a68a6_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5551/14129808652_f7744a68a6_q.jpg' alt="The Arrival of Buddha" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14129808652/' class='flickrlink'> </a>
</span>
<span>
<a title="Buddha Unveiled" href="https://farm8.staticflickr.com/7428/13946118389_c24fa5b899_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7428/13946118389_c24fa5b899_q.jpg' alt="Buddha Unveiled" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13946118389/' class='flickrlink'> </a>
</span>
<span>
<a title="Michael Sporting a Particularly Fetching Umbrella" href="https://farm8.staticflickr.com/7418/13946142460_ec6b41d509_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7418/13946142460_ec6b41d509_q.jpg' alt="Michael Sporting a Particularly Fetching Umbrella" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13946142460/' class='flickrlink'> </a>
</span>
<span>
<a title="The Buddhist Faith Tent" href="https://farm8.staticflickr.com/7428/14133054664_52f0685e36_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7428/14133054664_52f0685e36_q.jpg' alt="The Buddhist Faith Tent" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14133054664/' class='flickrlink'> </a>
</span>
<span>
<a title="Dawn & Emma Making Prayer Flags" href="https://farm8.staticflickr.com/7358/13946148170_3e153273ff_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7358/13946148170_3e153273ff_q.jpg' alt="Dawn & Emma Making Prayer Flags" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13946148170/' class='flickrlink'> </a>
</span>
<span>
<a title="The Thai Buddhist Shrine" href="https://farm3.staticflickr.com/2938/14109613226_cb9347d724_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2938/14109613226_cb9347d724_q.jpg' alt="The Thai Buddhist Shrine" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14109613226/' class='flickrlink'> </a>
</span>
<span>
<a title="Troll & Ganna with the Vajrayana Shrine" href="https://farm6.staticflickr.com/5569/14132800945_6c560ecc44_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5569/14132800945_6c560ecc44_q.jpg' alt="Troll & Ganna with the Vajrayana Shrine" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14132800945/' class='flickrlink'> </a>
</span>
<span>
<a title="Marching to the Opening Ceremony" href="https://farm3.staticflickr.com/2895/13946120427_bae69d5855_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2895/13946120427_bae69d5855_q.jpg' alt="Marching to the Opening Ceremony" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13946120427/' class='flickrlink'> </a>
</span>
</div>

                This Gallery contains 31 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/world-jamboree-07/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/switzerland-08/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: Switzerland 2008</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-06-16' datetime='2014-06-16 20:44:59 +0000'> 16 Jun 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='//www.perry-online.me.uk/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <div class='flickr summary'>
<span>
<a title="A Week off in Switzerland" href="https://farm6.staticflickr.com/5039/14109077599_45bee252dc_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5039/14109077599_45bee252dc_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14109077599/' class='flickrlink'> </a>
</span>
<span>
<a title="A Week off in Switzerland" href="https://farm4.staticflickr.com/3720/14109081849_8c05776ef0_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3720/14109081849_8c05776ef0_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14109081849/' class='flickrlink'> </a>
</span>
<span>
<a title="A Week off in Switzerland" href="https://farm4.staticflickr.com/3776/14292423541_0109fc02e7_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3776/14292423541_0109fc02e7_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14292423541/' class='flickrlink'> </a>
</span>
<span>
<a title="A Week off in Switzerland" href="https://farm4.staticflickr.com/3754/14292426471_5531f8f75d_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3754/14292426471_5531f8f75d_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14292426471/' class='flickrlink'> </a>
</span>
<span>
<a title="A Week off in Switzerland" href="https://farm3.staticflickr.com/2926/14109129828_e4a08c6191_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2926/14109129828_e4a08c6191_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14109129828/' class='flickrlink'> </a>
</span>
<span>
<a title="A Week off in Switzerland" href="https://farm4.staticflickr.com/3717/14272647906_f2dc7e44fd_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3717/14272647906_f2dc7e44fd_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14272647906/' class='flickrlink'> </a>
</span>
<span>
<a title="A Week off in Switzerland" href="https://farm4.staticflickr.com/3816/14295235614_88cee6a8a6_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3816/14295235614_88cee6a8a6_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14295235614/' class='flickrlink'> </a>
</span>
<span>
<a title="A Week off in Switzerland" href="https://farm4.staticflickr.com/3688/14109150030_469fbef0a6_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3688/14109150030_469fbef0a6_q.jpg' alt="A Week off in Switzerland" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14109150030/' class='flickrlink'> </a>
</span>
</div>

                This Gallery contains 39 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/switzerland-08/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/three-nations-09/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: Three Nations 2009</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-06-29' datetime='2014-06-29 09:17:40 +0000'> 29 Jun 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='//www.perry-online.me.uk/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <div class='flickr summary'>
<span>
<a title="First class meal on the plane to China :-)" href="https://farm4.staticflickr.com/3906/14345390860_983023d663_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3906/14345390860_983023d663_q.jpg' alt="First class meal on the plane to China :-)" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14345390860/' class='flickrlink'> </a>
</span>
<span>
<a title="Our first meal in Beijing" href="https://farm6.staticflickr.com/5314/14345459298_04dff86f27_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5314/14345459298_04dff86f27_q.jpg' alt="Our first meal in Beijing" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14345459298/' class='flickrlink'> </a>
</span>
<span>
<a title="Chickens Feet" href="https://farm4.staticflickr.com/3878/14508920386_67925875e1_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3878/14508920386_67925875e1_q.jpg' alt="Chickens Feet" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14508920386/' class='flickrlink'> </a>
</span>
<span>
<a title="Our Hotel in Beijing" href="https://farm3.staticflickr.com/2924/14530575834_4aa7b454dd_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2924/14530575834_4aa7b454dd_q.jpg' alt="Our Hotel in Beijing" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14530575834/' class='flickrlink'> </a>
</span>
<span>
<a title="First Glimpse of the Forbidden City" href="https://farm4.staticflickr.com/3840/14528650171_61a0886433_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3840/14528650171_61a0886433_q.jpg' alt="First Glimpse of the Forbidden City" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14528650171/' class='flickrlink'> </a>
</span>
<span>
<a title="Shaking Hands with an Imitation Terracotta Warrior in the Silk Market" href="https://farm3.staticflickr.com/2900/14345580837_e8604a24f3_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2900/14345580837_e8604a24f3_q.jpg' alt="Shaking Hands with an Imitation Terracotta Warrior in the Silk Market" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14345580837/' class='flickrlink'> </a>
</span>
<span>
<a title="Jew's Ear Juice?!?!?!" href="https://farm3.staticflickr.com/2896/14345433759_1976dd6d12_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2896/14345433759_1976dd6d12_q.jpg' alt="Jew's Ear Juice?!?!?!" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14345433759/' class='flickrlink'> </a>
</span>
<span>
<a title="Beijing Hot Pot" href="https://farm4.staticflickr.com/3902/14345470488_8cf63357e9_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3902/14345470488_8cf63357e9_q.jpg' alt="Beijing Hot Pot" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14345470488/' class='flickrlink'> </a>
</span>
</div>

                This Gallery contains 68 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/three-nations-09/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/china-09/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: China 2009</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-07-26' datetime='2014-07-26 07:03:12 +0000'> 26 Jul 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='//www.perry-online.me.uk/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <div class='flickr summary'>
<span>
<a title="Looking down over the Himalayas" href="https://farm3.staticflickr.com/2924/14738921502_5ed1757a3d_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2924/14738921502_5ed1757a3d_q.jpg' alt="Looking down over the Himalayas" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14738921502/' class='flickrlink'> </a>
</span>
<span>
<a title="Our Hotel in Lhasa" href="https://farm6.staticflickr.com/5559/14736040661_62f453bc8e_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5559/14736040661_62f453bc8e_q.jpg' alt="Our Hotel in Lhasa" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14736040661/' class='flickrlink'> </a>
</span>
<span>
<a title="Lhasa, Tibet" href="https://farm4.staticflickr.com/3875/14759078773_c0fd9c2bea_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3875/14759078773_c0fd9c2bea_q.jpg' alt="Lhasa, Tibet" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14759078773/' class='flickrlink'> </a>
</span>
<span>
<a title="In the confines of the Potala Palace" href="https://farm4.staticflickr.com/3853/14736854004_c6595a624e_b.jpg" class="image"><img src='https://farm4.staticflickr.com/3853/14736854004_c6595a624e_q.jpg' alt="In the confines of the Potala Palace" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14736854004/' class='flickrlink'> </a>
</span>
<span>
<a title="The Potala Palace" href="https://farm3.staticflickr.com/2938/14552584379_8c15315b36_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2938/14552584379_8c15315b36_q.jpg' alt="The Potala Palace" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14552584379/' class='flickrlink'> </a>
</span>
<span>
<a title="IMG_2481" href="https://farm6.staticflickr.com/5595/14739221835_433bb52663_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5595/14739221835_433bb52663_q.jpg' alt="IMG_2481" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14739221835/' class='flickrlink'> </a>
</span>
<span>
<a title="Buddhist Monks Debating" href="https://farm6.staticflickr.com/5596/14738930002_3b2a79ce21_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5596/14738930002_3b2a79ce21_q.jpg' alt="Buddhist Monks Debating" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14738930002/' class='flickrlink'> </a>
</span>
<span>
<a title="IMG_2553" href="https://farm3.staticflickr.com/2940/14736860064_21bcef34e5_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2940/14736860064_21bcef34e5_q.jpg' alt="IMG_2553" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14736860064/' class='flickrlink'> </a>
</span>
</div>

                This Gallery contains 97 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/china-09/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
        
          
        
                

        </section><!-- #main-content -->
                
        <section id="secondary-content"  itemscope itemtype="http://schema.org/WPSidebar" role="sidebar">
          
<aside>
  <h3><a href="/about/" title="About Me">About Me</a></h3>
  <img src="https://secure.gravatar.com/avatar/de76254e22ce8ef47fd59a5fcc6e5ef6?s=150" title="Richard Perry" alt="Richard Perry" />
  <p>I'm a Quantity Surveyor in South Wales with a passion for photography, technology, science, languages & the outdoors :-)</p>
  <div class='social aligncentre'>
  <span class="fa-stack">
    <a href='//www.facebook.com/richardpperry' title='Facebook'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//twitter.com/richard_p2' title='Twitter'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//uk.linkedin.com/in/rpperry' title='LinkedIn'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//flickr.com/photos/richard-perry' title='Flickr'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
    </a>
  </span><br />
  <span class="fa-stack">
    <a href='//instagram.com/perryri' title='Instagram'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//github.com/richardp2' title='GitHub'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//richard.perry-online.me.uk/' title='Website'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-link fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='mai&#108;to&#58;richard@perrymail.me.uk' title='Email Me'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </a>
  </span><br />
</div>

</aside>

<hr />


<aside>
  <h3>My Tweets</h3>
  <a class="twitter-timeline" href="https://twitter.com/richard_p2" data-widget-id="250856108174999552">Tweets by @richard_p2</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>                

        </section><!-- #secondary-content -->
      </div><!-- #content -->
            
      <footer id="page-footer" itemscope itemtype="http://schema.org/WPFooter">
        <hr />
        
        <div class='social'>
          <span class="fa-stack fa-2x">
            <a href='//www.facebook.com/richardpperry' title='Facebook'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='//twitter.com/richard_p2' title='Twitter'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='//github.com/richardp2' title='GitHub'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='mai&#108;to&#58;richard@perrymail.me.uk' title='Email'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='/feed.xml' title='RSS Feed'>
              <i class="fa fa-circle fa-stack-2x feed"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </a>
          </span>
        </div>
        <small class='copyright'>Copyright &copy; 2009 - 2014 Richard Perry</small> &nbsp; &nbsp; | &nbsp; &nbsp; 
        <small class='site-meta'>Powered by <a href='//jekyllrb.com/' title='Jekyll &bull; Simple, blog-aware, static sites'>Jekyll</a> &amp; Hosted at <a href='//github.com' title='GitHub'>GitHub</a></small>
      </footer><!-- #page-footer -->
    </div><!-- #container -->
        
            
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://richard.perry-online.me.uk/assets/scripts/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="http://richard.perry-online.me.uk/assets/scripts/main.min.js"></script>
  </body>
</html>