<!DOCTYPE html>
<html xmlns:fb='http://ogp.me/ns/fb#' xmlns:og='http://ogp.me/ns#' lang='en-GB'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Series: Travel Memories | Richard Perry</title>
    <meta name='description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta name='author' content="">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='http://richard.perry-online.me.uk/assets/css/main.min.css'>
    <link rel='alternate' href='http://richard.perry-online.me.uk/feed.xml' type='application/rss+xml' title='Richard Perry'>
    <link rel='author' href="https://plus.google.com/">
    <link rel='canonical' href="http://richard.perry-online.me.uk/series/travel-memories/">
    
    <script src='http://richard.perry-online.me.uk/assets/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js'></script>
        
    <meta property='og:type' content='article'>
    <meta property='og:title' content="Series: Travel Memories | Richard Perry">
    <meta property='og:description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta property='og:url' content="http://richard.perry-online.me.uk/series/travel-memories/">
    <meta property='og:site_name' content="Richard Perry">
    
    <meta name='twitter:title' content="Series: Travel Memories | Richard Perry">
    <meta name='twitter:description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta name='twitter:url' content="http://richard.perry-online.me.uk/series/travel-memories/">
    <meta name='twitter:creator' content="">
  </head>

  <body>
    <div id='container'>
      <header id='page-header' role='banner' itemscope itemtype='http://schema.org/WPHeader'>
        <hgroup>
          <h1 class='site-title'>Richard Perry</h1>
          <h2 class='site-description'>Just another blog about nothing</h2>
        </hgroup>
                <nav id="primary-navigation" role="navigation" >
          <ul class="main-menu" >
            <li>
              <a href="http://www.perry-online.me.uk/" title="Home" >Home</a></li>
          
            <li>
              <a href="http://travel.perry-online.me.uk/" title="Travel" >Travel</a>
              <ul>
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/cornwall12/" title="Cornwall 2012" >Cornwall 2012</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/vietnam11/" title="Vietnam 2011" >Vietnam 2011</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/iceland10-11/" title="Iceland 2010-11" >Iceland 2010-11</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/cornwall12/" title="Cornwall 2012" >Cornwall 2012</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/honeymoon/" title="Morocco 2010" >Morocco 2010</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/china09/" title="China 2009" >China 2009</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/threenations09/" title="Three Nations 2009" >Three Nations 2009</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/switzerland08/" title="Switzerland 2008" >Switzerland 2008</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/serbia06/" title="Serbia 2006" >Serbia 2006</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/archives/" title="Travel Archives" >Travel Archives</a></li>
              </ul>
            </li>
          
            <li>
              <a href="http://richard.perry-online.me.uk/" title="Richard" >Richard</a>
              <ul>
                <li>
                  <a href="http://richard.perry-online.me.uk/about/" title="About Me" >About Me</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/general/" title="General" >General</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/george/" title="George" >George</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/languages/" title="Languages" >Languages</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/outdoors/" title="Active/Outdoors" >Active/Outdoors</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/photography/" title="Photography" >Photography</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/reviews/" title="Reviews" >Reviews</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/technology/" title="Technology" >Technology</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/series/" title="Post Series" >Post Series</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/archives/" title="Blog Archives" >Blog Archives</a></li>
              </ul>
            </li>
          
            <li>
              <a href="http://photos.perry-online.me.uk/" title="Photos" >Photos</a></li>
          </ul>
          <hr />
        </nav><!-- #primary-navigation -->
      </header><!-- #page-header -->
      
      <div id='content'>
        
        <section id='main-content' role='main' itemscope itemtype='http://schema.org/Blog'>
                

          
          <h2 itemProp="headline">Series: Travel Memories</h2>
          
          
                  
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/serbia-hungary-06/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: Serbia & Hungary 2006</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-04-16' datetime='2014-04-16 20:14:04 +0000'> 16 Apr 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <ul class='flickr summary'>
<li>
<a title="Train Station in Budapest" href="http://farm3.staticflickr.com/2932/13805433943_28848300f1_b.jpg" class="image"><img src='http://farm3.staticflickr.com/2932/13805433943_28848300f1_q.jpg' alt="Train Station in Budapest" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13805433943/' class='flickrlink'> </a>
</li>
<li>
<a title="Eagle in Belgrade Zoo" href="http://farm4.staticflickr.com/3803/13805441393_100d0959d4_b.jpg" class="image"><img src='http://farm4.staticflickr.com/3803/13805441393_100d0959d4_q.jpg' alt="Eagle in Belgrade Zoo" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13805441393/' class='flickrlink'> </a>
</li>
<li>
<a title="Looking out from Belgrade Zoo" href="http://farm4.staticflickr.com/3725/13805425175_c6b08c44b2_b.jpg" class="image"><img src='http://farm4.staticflickr.com/3725/13805425175_c6b08c44b2_q.jpg' alt="Looking out from Belgrade Zoo" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13805425175/' class='flickrlink'> </a>
</li>
<li>
<a title="Friends we met in our hostel in Belgrade" href="http://farm3.staticflickr.com/2810/13805777864_88f8c36723_b.jpg" class="image"><img src='http://farm3.staticflickr.com/2810/13805777864_88f8c36723_q.jpg' alt="Friends we met in our hostel in Belgrade" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13805777864/' class='flickrlink'> </a>
</li>
<li>
<a title="Church of Saint Sava, Belgrade" href="http://farm8.staticflickr.com/7389/13805440025_66e0f8043d_b.jpg" class="image"><img src='http://farm8.staticflickr.com/7389/13805440025_66e0f8043d_q.jpg' alt="Church of Saint Sava, Belgrade" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13805440025/' class='flickrlink'> </a>
</li>
<li>
<a title="Night out in Belgrade" href="http://farm4.staticflickr.com/3818/13805468613_457d0aa307_b.jpg" class="image"><img src='http://farm4.staticflickr.com/3818/13805468613_457d0aa307_q.jpg' alt="Night out in Belgrade" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13805468613/' class='flickrlink'> </a>
</li>
</ul>

                This Gallery contains 26 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/serbia-hungary-06/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/africa-06-07/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: South Africa 2006-07</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-04-26' datetime='2014-04-26 06:56:09 +0000'> 26 Apr 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <ul class='flickr summary'>
<li>
<a title="Little Sis Sleeping in Abu Dhabi Airport" href="http://farm8.staticflickr.com/7028/13932366814_56cf313055_b.jpg" class="image"><img src='http://farm8.staticflickr.com/7028/13932366814_56cf313055_q.jpg' alt="Little Sis Sleeping in Abu Dhabi Airport" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13932366814/' class='flickrlink'> </a>
</li>
<li>
<a title="Abu Dhabi and Beyond" href="http://farm8.staticflickr.com/7175/13908820042_be05742098_b.jpg" class="image"><img src='http://farm8.staticflickr.com/7175/13908820042_be05742098_q.jpg' alt="Abu Dhabi and Beyond" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13908820042/' class='flickrlink'> </a>
</li>
<li>
<a title="Santa's Sleigh!?!?" href="http://farm8.staticflickr.com/7272/13908816961_305519be53_b.jpg" class="image"><img src='http://farm8.staticflickr.com/7272/13908816961_305519be53_q.jpg' alt="Santa's Sleigh!?!?" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13908816961/' class='flickrlink'> </a>
</li>
<li>
<a title="Mafikeng Centenary Moot" href="http://farm8.staticflickr.com/7096/13908823611_e53329b135_b.jpg" class="image"><img src='http://farm8.staticflickr.com/7096/13908823611_e53329b135_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13908823611/' class='flickrlink'> </a>
</li>
<li>
<a title="Mafikeng Centenary Moot" href="http://farm3.staticflickr.com/2905/13908828361_d7fc396ce8_b.jpg" class="image"><img src='http://farm3.staticflickr.com/2905/13908828361_d7fc396ce8_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13908828361/' class='flickrlink'> </a>
</li>
<li>
<a title="Mafikeng Centenary Moot" href="http://farm3.staticflickr.com/2921/13932396594_e3635d4204_b.jpg" class="image"><img src='http://farm3.staticflickr.com/2921/13932396594_e3635d4204_q.jpg' alt="Mafikeng Centenary Moot" /></a>
<a title='View on Flickr' href='http://www.flickr.com/photos/richard-perry/13932396594/' class='flickrlink'> </a>
</li>
</ul>

                This Gallery contains 33 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/africa-06-07/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary format-gallery'>
              

 
            <header>             
              <h2 itemprop='headline'><a href='/general/memories/world-jamboree-07/' itemprop='url'><i class='fa fa-picture-o'></i> Memories: 21st World Scout Jamboree 2007</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2014-05-25' datetime='2014-05-25 08:40:35 +0000'> 25 May 2014</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/general/'>General</a>, <a class='category' href='/general/memories/'>Memories</a></span>
              </span>
            </header>
    
 
            <section class='post-summary' itemProp='articleBody'>
                <ul class='flickr summary'>
<li>
<a title="The Arrival of Buddha" href="https://farm6.staticflickr.com/5551/14129808652_f7744a68a6_b.jpg" class="image"><img src='https://farm6.staticflickr.com/5551/14129808652_f7744a68a6_q.jpg' alt="The Arrival of Buddha" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14129808652/' class='flickrlink'> </a>
</li>
<li>
<a title="Buddha Unveiled" href="https://farm8.staticflickr.com/7428/13946118389_c24fa5b899_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7428/13946118389_c24fa5b899_q.jpg' alt="Buddha Unveiled" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13946118389/' class='flickrlink'> </a>
</li>
<li>
<a title="Michael Sporting a Particularly Fetching Umbrella" href="https://farm8.staticflickr.com/7418/13946142460_ec6b41d509_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7418/13946142460_ec6b41d509_q.jpg' alt="Michael Sporting a Particularly Fetching Umbrella" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13946142460/' class='flickrlink'> </a>
</li>
<li>
<a title="The Buddhist Faith Tent" href="https://farm8.staticflickr.com/7428/14133054664_52f0685e36_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7428/14133054664_52f0685e36_q.jpg' alt="The Buddhist Faith Tent" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14133054664/' class='flickrlink'> </a>
</li>
<li>
<a title="Dawn & Emma Making Prayer Flags" href="https://farm8.staticflickr.com/7358/13946148170_3e153273ff_b.jpg" class="image"><img src='https://farm8.staticflickr.com/7358/13946148170_3e153273ff_q.jpg' alt="Dawn & Emma Making Prayer Flags" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/13946148170/' class='flickrlink'> </a>
</li>
<li>
<a title="The Thai Buddhist Shrine" href="https://farm3.staticflickr.com/2938/14109613226_cb9347d724_b.jpg" class="image"><img src='https://farm3.staticflickr.com/2938/14109613226_cb9347d724_q.jpg' alt="The Thai Buddhist Shrine" /></a>
<a title='View on Flickr' href='https://www.flickr.com/photos/richard-perry/14109613226/' class='flickrlink'> </a>
</li>
</ul>

                This Gallery contains 31 photos.
            </section>
            
            <footer>
              <a class='read-more' href='/general/memories/world-jamboree-07/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
                

        </section><!-- #main-content -->
                
        <section id="secondary-content"  itemscope itemtype="http://schema.org/WPSidebar" role="sidebar">
          
<aside>
  <h3><a href="/about/" title="About Me">About Me</a></h3>
  <img src="https://secure.gravatar.com/avatar/de76254e22ce8ef47fd59a5fcc6e5ef6?s=150" title="Richard Perry" alt="Richard Perry" />
  <p>I'm a Quantity Surveyor in South Wales with a passion for photography, technology, science, languages & the outdoors :-)</p>
  <div class='social aligncentre'>
  <span class="fa-stack">
    <a href='//www.facebook.com/richardpperry' title='Facebook'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//twitter.com/richard_p2' title='Twitter'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//uk.linkedin.com/in/rpperry' title='LinkedIn'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//flickr.com/photos/richard-perry' title='Flickr'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
    </a>
  </span><br />
  <span class="fa-stack">
    <a href='//instagram.com/perryri' title='Instagram'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//github.com/richardp2' title='GitHub'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//richard.perry-online.me.uk/' title='Website'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-link fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='mai&#108;to&#58;richard@perrymail.me.uk' title='Email Me'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </a>
  </span><br />
</div>

</aside>

<hr />


<aside>
  <h3>My Tweets</h3>
  <a class="twitter-timeline" href="https://twitter.com/richard_p2" data-widget-id="250856108174999552">Tweets by @richard_p2</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>                

        </section><!-- #secondary-content -->
      </div><!-- #content -->
            
      <footer id="page-footer" itemscope itemtype="http://schema.org/WPFooter">
        <hr />
        
        <div class='social'>
          <span class="fa-stack fa-2x">
            <a href='//www.facebook.com/richardpperry' title='Facebook'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='//twitter.com/richard_p2' title='Twitter'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='//github.com/richardp2' title='GitHub'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='mai&#108;to&#58;richard@perrymail.me.uk' title='Email'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='/feed.xml' title='RSS Feed'>
              <i class="fa fa-circle fa-stack-2x feed"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </a>
          </span>
        </div>
        <small class='copyright'>Copyright &copy; 2009 - 2014 Richard Perry</small> &nbsp; &nbsp; | &nbsp; &nbsp; 
        <small class='site-meta'>Powered by <a href='//jekyllrb.com/' title='Jekyll &bull; Simple, blog-aware, static sites'>Jekyll</a> &amp; Hosted at <a href='//github.com' title='GitHub'>GitHub</a></small>
      </footer><!-- #page-footer -->
    </div><!-- #container -->
        
            
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://richard.perry-online.me.uk/assets/scripts/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="http://richard.perry-online.me.uk/assets/scripts/main.min.js"></script>
  </body>
</html>