---
blog: richard
comments: false
layout: default
title: "Series: Mandarin Language Challenge"
permalink: /series/mandarin/
series:
- Mandarin Language Challenge 
---

        {% for post in site.posts reversed %}
          {% if post.series == page.series %}
          <article itemscope itemtype='//schema.org/BlogPosting' class='post summary{% if post.format %} format-{{ post.format }}{% endif %}'>
              {% include partials/summary.html %}
          </article>
          {% endif %}
        {% endfor %}