---
blog: richard
comments: false
layout: default
title: "Series: Travel Memories"
permalink: /series/travel-memories/
series:
- Travel Memories 
---

        {% for post in site.posts reversed %}
          {% if post.series == page.series %}
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'>
              {% include partials/summary.html %}
          </article>

          <hr />
          {% endif %}
        {% endfor %}