<!DOCTYPE html>
<html xmlns:fb='http://ogp.me/ns/fb#' xmlns:og='http://ogp.me/ns#' lang='en-GB'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Series: Mandarin Language Challenge | Richard Perry</title>
    <meta name='description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta name='author' content="">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='http://richard.perry-online.me.uk/assets/css/main.min.css'>
    <link rel='alternate' href='http://richard.perry-online.me.uk/feed.xml' type='application/rss+xml' title='Richard Perry'>
    <link rel='author' href="https://plus.google.com/">
    <link rel='canonical' href="http://richard.perry-online.me.uk/series/mandarin/">
    
    <script src='http://richard.perry-online.me.uk/assets/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js'></script>
        
    <meta property='og:type' content='article'>
    <meta property='og:title' content="Series: Mandarin Language Challenge | Richard Perry">
    <meta property='og:description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta property='og:url' content="http://richard.perry-online.me.uk/series/mandarin/">
    <meta property='og:site_name' content="Richard Perry">
    
    <meta name='twitter:title' content="Series: Mandarin Language Challenge | Richard Perry">
    <meta name='twitter:description' content="{% for post in site.posts reversed %} {% if post.series == page.series %} &lt;article itemscope itemtype='http://schema.org/BlogPosting' class='post summary{% if post.layout != 'post' %} format-{{ post.layout }}{% endif %}'&gt; {% include partials/summary.html %} &lt;/article&gt; &lt;hr /&gt; {% endif %} {% endfor...">
    <meta name='twitter:url' content="http://richard.perry-online.me.uk/series/mandarin/">
    <meta name='twitter:creator' content="">
  </head>

  <body>
    <div id='container'>
      <header id='page-header' role='banner' itemscope itemtype='http://schema.org/WPHeader'>
        <hgroup>
          <h1 class='site-title'>Richard Perry</h1>
          <h2 class='site-description'>Just another blog about nothing</h2>
        </hgroup>
                <nav id="primary-navigation" role="navigation" >
          <ul class="main-menu" >
            <li>
              <a href="http://www.perry-online.me.uk/" title="Home" >Home</a></li>
          
            <li>
              <a href="http://travel.perry-online.me.uk/" title="Travel" >Travel</a>
              <ul>
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/cornwall12/" title="Cornwall 2012" >Cornwall 2012</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/vietnam11/" title="Vietnam 2011" >Vietnam 2011</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/iceland10-11/" title="Iceland 2010-11" >Iceland 2010-11</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/cornwall12/" title="Cornwall 2012" >Cornwall 2012</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/honeymoon/" title="Morocco 2010" >Morocco 2010</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/china09/" title="China 2009" >China 2009</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/threenations09/" title="Three Nations 2009" >Three Nations 2009</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/switzerland08/" title="Switzerland 2008" >Switzerland 2008</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/trips/serbia06/" title="Serbia 2006" >Serbia 2006</a></li>
              
                <li>
                  <a href="http://travel.perry-online.me.uk/archives/" title="Travel Archives" >Travel Archives</a></li>
              </ul>
            </li>
          
            <li>
              <a href="http://richard.perry-online.me.uk/" title="Richard" >Richard</a>
              <ul>
                <li>
                  <a href="http://richard.perry-online.me.uk/about/" title="About Me" >About Me</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/general/" title="General" >General</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/george/" title="George" >George</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/languages/" title="Languages" >Languages</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/outdoors/" title="Active/Outdoors" >Active/Outdoors</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/photography/" title="Photography" >Photography</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/reviews/" title="Reviews" >Reviews</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/technology/" title="Technology" >Technology</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/series/" title="Post Series" >Post Series</a></li>
              
                <li>
                  <a href="http://richard.perry-online.me.uk/archives/" title="Blog Archives" >Blog Archives</a></li>
              </ul>
            </li>
          
            <li>
              <a href="http://photos.perry-online.me.uk/" title="Photos" >Photos</a></li>
          </ul>
          <hr />
        </nav><!-- #primary-navigation -->
      </header><!-- #page-header -->
      
      <div id='content'>
        
        <section id='main-content' role='main' itemscope itemtype='http://schema.org/Blog'>
                

          
          <h2 itemProp="headline">Series: Mandarin Language Challenge</h2>
          
          
                  
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary'>
              


            <header>     
              <h2 itemprop='headline'><a href='/languages/mandarin/language-challenge/' itemprop='url'>My Language Challenge</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2012-08-29' datetime='2012-08-29 19:42:55 +0000'> 29 Aug 2012</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/languages/'>Languages</a>, <a class='category' href='/languages/mandarin/'>Mandarin</a></span>
              </span>
            </header>


            <section class='post-summary' itemProp='articleBody'>
              <img src='http://www.teasetc.com/blog/beth/uploaded_images/P1000497-757313.JPG' title='My Language Challenge' alt='My Language Challenge' class='alignleft' />
              Since early 2009 I have been learning Mandarin Chinese off and on. This may seem an odd language to choose so let me explain. In 2007 a good friend of ours told us about a Scouting trip he was organising to Russia, Mongolia &amp; China (further details available here. This seemed like a good idea at the time, and, to cut a long story short, Rosie &amp; I decided to stay on in China for a further 5 weeks. The time we spent in China was absolutely amazing and I gained a real appreciation for the country, the culture and the language and I wanted to learn more.  I decided to learn the language to better understand the culture. Since then, it seems that my language...
            </section>
            
            <footer>
              <a class='read-more' href='/languages/mandarin/language-challenge/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary'>
              


            <header>     
              <h2 itemprop='headline'><a href='/languages/mandarin/month-1/' itemprop='url'>Mandarin Progress Month 1</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2012-10-03' datetime='2012-10-03 18:00:27 +0000'> 03 Oct 2012</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/languages/'>Languages</a>, <a class='category' href='/languages/mandarin/'>Mandarin</a></span>
              </span>
            </header>


            <section class='post-summary' itemProp='articleBody'>
              <img src='http://www.teasetc.com/blog/beth/uploaded_images/P1000497-757313.JPG' title='Mandarin Progress Month 1' alt='Mandarin Progress Month 1' class='alignleft' />
              It has now been a month since I started my Mandarin Chinese language challenge, so I think it’s time for an update on how I’m doing. To be honest, it’s not being going all that well. The first week went quite well, I was generally following my study plan (except for some evening sessions), but then it became unworkable. I guess I didn’t really plan it well enough, so I have amended the plan in an attempt to make it easier to follow without reducing the commitment needed. Well, it still isn’t really working. Here is a summary of the key points from this month. The Good I do listen to Mandarin radio most of the day in work; I have kept up with my vocabulary...
            </section>
            
            <footer>
              <a class='read-more' href='/languages/mandarin/month-1/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
        
          
        
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary'>
              


            <header>     
              <h2 itemprop='headline'><a href='/languages/mandarin/month-2/' itemprop='url'>Mandarin Progress Month 2</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2012-11-01' datetime='2012-11-01 20:31:15 +0000'> 01 Nov 2012</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/languages/'>Languages</a>, <a class='category' href='/languages/mandarin/'>Mandarin</a></span>
              </span>
            </header>


            <section class='post-summary' itemProp='articleBody'>
              <img src='http://www.teasetc.com/blog/beth/uploaded_images/P1000497-757313.JPG' title='Mandarin Progress Month 2' alt='Mandarin Progress Month 2' class='alignleft' />
              We are now into the third month of my Mandarin Chinese language challenge, so here is an update to how month 2 has gone. Lets start by updating you on my targets from last month. 1. Practice more than twice a week This time I think I just about managed to practice more than twice a week, although still not as much as I would have liked. 2. Publish at least one journal entry to Lang-8 per week The Lang-8 community are very helpful and I have been inundated with corrections when I have actually submitted an entry, but I did not manage to achieve the requisite on entry per week this month, maybe I will manage it next month. These are my entries for October for anyone that...
            </section>
            
            <footer>
              <a class='read-more' href='/languages/mandarin/month-2/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary'>
              


            <header>     
              <h2 itemprop='headline'><a href='/languages/mandarin/month-3/' itemprop='url'>Mandarin Progress Month 3</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2012-12-04' datetime='2012-12-04 20:00:26 +0000'> 04 Dec 2012</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/languages/'>Languages</a>, <a class='category' href='/languages/mandarin/'>Mandarin</a></span>
              </span>
            </header>


            <section class='post-summary' itemProp='articleBody'>
              <img src='http://www.teasetc.com/blog/beth/uploaded_images/P1000497-757313.JPG' title='Mandarin Progress Month 3' alt='Mandarin Progress Month 3' class='alignleft' />
              It has now been 3 months since I started my Mandarin Language Challenge so it’s time for another update. This month has been very slow going and I have achieved pretty much nothing. I started the month with the intention of reviewing all the Pimsleur lesson I had learned so far and reciting the conversations from each lesson as SoundCloud items. However, it wasn’t until 15 November that I uploaded the first two lessons, and then I haven’t continued since. I have therefore decided to pretend that November didn’t happen and try to continue from where I left off at the end of October with the same goals etc. carrying forward to December. For those that are interested, here is the only audio clip I have uploaded...
            </section>
            
            <footer>
              <a class='read-more' href='/languages/mandarin/month-3/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
        
          
          <article itemscope itemtype='http://schema.org/BlogPosting' class='post summary'>
              


            <header>     
              <h2 itemprop='headline'><a href='/languages/mandarin/month-4/' itemprop='url'>Mandarin Progress Month 4</a></h2>
              
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='2013-01-13' datetime='2013-01-13 15:25:33 +0000'> 13 Jan 2013</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/richard-perry/' title='Richard Perry'>Richard Perry</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'><a class='category' href='/languages/'>Languages</a>, <a class='category' href='/languages/mandarin/'>Mandarin</a></span>
              </span>
            </header>


            <section class='post-summary' itemProp='articleBody'>
              <img src='http://www.teasetc.com/blog/beth/uploaded_images/P1000497-757313.JPG' title='Mandarin Progress Month 4' alt='Mandarin Progress Month 4' class='alignleft' />
              So my 4 months are up and unfortunately, the last 2 months have been a bit useless for various reasons, so needless to say I haven’t really managed to achieve my goal. Over the last month I have probably only spent about 10 hours learning Mandarin, and the bulk of that was probably reviewing characters on Memrise. I have still not yet completed all 30 lessons from Pimsleurs Mandarin 1 so that is still on my todo list. I have improved by reading comprehension and my speaking a little, but I don’t think I would be able to hold a 5 minute conversation yet. Ah well. I have enjoyed it and so I will continue to plod on at my previous pace and see how it...
            </section>
            
            <footer>
              <a class='read-more' href='/languages/mandarin/month-4/' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>
            </footer>
    
          </article>

          <hr />
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
                

        </section><!-- #main-content -->
                
        <section id="secondary-content"  itemscope itemtype="http://schema.org/WPSidebar" role="sidebar">
          
<aside>
  <h3><a href="/about/" title="About Me">About Me</a></h3>
  <img src="https://secure.gravatar.com/avatar/de76254e22ce8ef47fd59a5fcc6e5ef6?s=150" title="Richard Perry" alt="Richard Perry" />
  <p>I'm a Quantity Surveyor in South Wales with a passion for photography, technology, science, languages & the outdoors :-)</p>
  <div class='social aligncentre'>
  <span class="fa-stack">
    <a href='//www.facebook.com/richardpperry' title='Facebook'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//twitter.com/richard_p2' title='Twitter'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//uk.linkedin.com/in/rpperry' title='LinkedIn'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//flickr.com/photos/richard-perry' title='Flickr'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
    </a>
  </span><br />
  <span class="fa-stack">
    <a href='//instagram.com/perryri' title='Instagram'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//github.com/richardp2' title='GitHub'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='//richard.perry-online.me.uk/' title='Website'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-link fa-stack-1x fa-inverse"></i>
    </a>
  </span>
  <span class="fa-stack">
    <a href='mai&#108;to&#58;richard@perrymail.me.uk' title='Email Me'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </a>
  </span><br />
</div>

</aside>

<hr />


<aside>
  <h3>My Tweets</h3>
  <a class="twitter-timeline" href="https://twitter.com/richard_p2" data-widget-id="250856108174999552">Tweets by @richard_p2</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>                

        </section><!-- #secondary-content -->
      </div><!-- #content -->
            
      <footer id="page-footer" itemscope itemtype="http://schema.org/WPFooter">
        <hr />
        
        <div class='social'>
          <span class="fa-stack fa-2x">
            <a href='//www.facebook.com/richardpperry' title='Facebook'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='//twitter.com/richard_p2' title='Twitter'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='//github.com/richardp2' title='GitHub'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='mai&#108;to&#58;richard@perrymail.me.uk' title='Email'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
          </span>
          <span class="fa-stack fa-2x">
            <a href='/feed.xml' title='RSS Feed'>
              <i class="fa fa-circle fa-stack-2x feed"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </a>
          </span>
        </div>
        <small class='copyright'>Copyright &copy; 2009 - 2014 Richard Perry</small> &nbsp; &nbsp; | &nbsp; &nbsp; 
        <small class='site-meta'>Powered by <a href='//jekyllrb.com/' title='Jekyll &bull; Simple, blog-aware, static sites'>Jekyll</a> &amp; Hosted at <a href='//github.com' title='GitHub'>GitHub</a></small>
      </footer><!-- #page-footer -->
    </div><!-- #container -->
        
            
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://richard.perry-online.me.uk/assets/scripts/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="http://richard.perry-online.me.uk/assets/scripts/main.min.js"></script>
  </body>
</html>