<!DOCTYPE html>{% capture title %}{% if page.title == 'Home' %} {{ site.name }} | {{ site.description }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}{% endcapture %}{% if page.author %}{% assign auth = site.data.authors[page.author] %}{% else %}{% assign auth = site.data.authors[site.author] %}{% endif %}{% assign copyname = site.data.authors[site.author].name %}{% capture copyright %}Copyright &copy; 2009 - {{ site.time | date: '%Y' }} {{ copyname }}{% endcapture %}
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml" lang='en-GB'>
    <head prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#'>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <meta http-equiv='X-Clacks-Overhead' content='GNU Terry Pratchett'>
        <title>{{title}}</title>
        <meta name='author' content='{{auth.name}}'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Lato:400,400i,900,900i&subset=latin-ext' rel='stylesheet'>
        <link rel='stylesheet' href='/assets/css/style2.css'>
        <link rel='alternate' href='{{site.url}}/feed.xml' type='application/rss+xml' title='{{ site.name }}'>
        <link rel='author' href='https://plus.google.com/{{auth.google}}'>

        <script defer src='/assets/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js'></script>
        <script defer src='//connect.facebook.net/en_US/all.js#xfbml=1'></script>

        {% seo title=false %}
    </head>

    <body>
        <header role='banner' itemscope itemtype='//schema.org/WPHeader'>
            <h1 class='site-title'>{% if site.logo == true %}<object type='image/svg+xml' data='/assets/images/logo.svg' title='{{ site.title }}' name='logo'>{{ site.name }}</h1></object>{% else %}{{ site.name }}{% endif %}</h1>
            {% if site.description %}<p class='site-description'>{{ site.description }}</p>{% endif %}
        </header>

        <nav itemscope itemtype='//schema.org/SiteNavigationElement'>
            {% include nav.html links=site.data.links class='main-menu' %}
        </nav><!-- #primary-navigation -->

        <main itemscope itemtype='//schema.org/Blog'>

            {{ content }}

        </main><!-- #main-content -->

        <!--<aside role='complementary'>
            {% for i in site.authors %}{% assign author = site.data.authors[i] %}<h3><a href='/about/' title='About Me'>About Me</a></h3>
            <img src='//secure.gravatar.com/avatar/{{author.gravatar}}?s=150' title='{{author.name}}' alt='{{author.name}}' />
            <p>{{author.about}}</p>
            <div class='social aligncentre'>{% for social in site.data.social %}
                {% if author[social.name] %}<span class='fa-stack'>
                    <a href='{{social.link}}{{author[social.name]}}' title='{{social.title}}'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa {{social.fa-icon}} fa-stack-1x fa-inverse'></i>
                    </a>
                </span>{% cycle '','','','<br />' %}{% endif %}{% endfor %}
            </div>
        </aside>{% endfor %}

        <aside role='complementary'>
            <h3>My Tweets</h3>
            <a class='twitter-timeline' href='//twitter.com/richard_p2' data-widget-id='250856108174999552'>Tweets by @richard_p2</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>
        </aside> -->
                
        <footer role='contentinfo' itemscope itemtype='//schema.org/WPFooter'>{% assign author = site.data.authors[site.author] %}
            <div class='social'>
                {% if author.facebook %}<span class='fa-stack fa-2x'>
                    <a href='//www.facebook.com/{{author.facebook}}' title='Facebook'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa-facebook fa-stack-1x fa-inverse'></i>
                    </a>
                </span>{% endif %}
                {% if author.twitter %}<span class='fa-stack fa-2x'>
                    <a href='//twitter.com/{{author.twitter}}' title='Twitter'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa-twitter fa-stack-1x fa-inverse'></i>
                    </a>
                </span>{% endif %}
                {% if author.github %}<span class='fa-stack fa-2x'>
                    <a href='//github.com/{{author.github}}' title='GitHub'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa-github-alt fa-stack-1x fa-inverse'></i>
                    </a>
                </span>{% endif %}
                {% if author.email %}<span class='fa-stack fa-2x'>
                    <a href='mai&#108;to&#58;{{author.email}}' title='Email'>
                        <i class='fa fa-circle fa-stack-2x'></i>
                        <i class='fa fa-envelope fa-stack-1x fa-inverse'></i>
                    </a>
                </span>{% endif %}
                <span class='fa-stack fa-2x'>
                    <a href='/feed.xml' title='RSS Feed'>
                        <i class='fa fa-circle fa-stack-2x feed'></i>
                        <i class='fa fa-rss fa-stack-1x fa-inverse'></i>
                    </a>
                </span>
            </div>
            <small class='copyright'>{{ copyright }}</small> &nbsp; &nbsp; | &nbsp; &nbsp; 
            <small class='site-meta'>Powered by <a href='//jekyllrb.com/' title='Jekyll &bull; Simple, blog-aware, static sites'>Jekyll</a> &amp; Hosted at <a href='{{ site.hosting.link }}' title='{{ site.hosting.name }}'>{{ site.hosting.name }}</a></small>
        </footer><!-- #page-footer -->
            
        {% include foot-scripts.html %}
    </body>
</html>