{% include head.html %}
        
        <div class="main-container">
            <div class="main wrapper clearfix">
          
                <article>
                    {{ content }}
              
                    {% if page.comments %}
                    <div id="disqus_thread"></div> 
                    {% endif %}
                </article>
          
                {% include sidebar.html %}
                
            </div><!-- main -->
        </div><!-- main-container -->
        
{% include foot.html %}