---
layout: default
---
            <article itemscope itemtype="//schema.org/BlogPosting" class="post single">
                <header>
                    {% include post-nav.html %}
                    <h2 itemProp="headline">{{ page.title }}</h2>
                    {% assign post = page %}{% include meta.html %}
                </header>

                {% if page.series %}{% include series.html %}{% endif %}
                <section itemProp="articleBody">
                    {% if page.video %}<iframe width='560' height='315' src='//www.youtube.com/embed/{{page.video}}?rel=0' frameborder='0' allowfullscreen itemProp='video'></iframe>{% endif %}
                    {{ content }}
                </section>
            
                <footer>
                    {% include post-nav.html %}
                    {% if page.comments %}<div id="disqus_thread"></div>{% endif %}
                </footer>
            </article><!-- .post.single -->