---
layout: default
---
            <article itemscope itemtype="http://schema.org/BlogPosting" class="post single format-video">
                <header>
                    {% include partials/post-nav.html %}
                    <h2 itemProp="headline">{{ page.title }}</h2>
                    {% assign post = page %}{% include partials/meta.html %}
                </header>
                
                <section class="post-content" itemProp="articleBody">
                    <iframe width='560' height='315' src='//www.youtube.com/embed/{{page.video}}?rel=0' frameborder='0' allowfullscreen itemProp='video'></iframe>
                    {% if page.series %}{% include series.html %}{% endif %}{{ content }}
                </section><!-- .post-content -->
                
                <footer>
                    {% include partials/post-nav.html %}
                    {% if page.comments %}<div id="disqus_thread"></div>{% endif %}
                </footer>
            </article><!-- .post.single.format-video -->