{% include head.html %}
            
          <article itemscope itemtype="http://schema.org/BlogPosting" class="post single format-video">
            <header>
              <h2 itemProp="headline">{{ page.title }}</h2>
              <time itemprop="datePublished" content="{{ page.date | date: '%F' }}" datetime='{{ page.date }}'>{{ page.date | date: "%d %b %Y" }}</time>
            </header>
            
            <section class="post-content" itemProp="articleBody">
              {{ content }}
            </section><!-- .post-content -->
            
            <footer>              
              {% if page.comments %}
              <div id="disqus_thread"></div> 
              {% endif %}
            </footer>
          </article><!-- .post.single.format-video -->
        
{% include foot.html %}