// -----------------------------------------------------------------------------
// Typography styles
// -----------------------------------------------------------------------------
 
body {
    color: $colour-text;
    font: $base-font-size $base-font-family;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
th {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4, th {
    font-size: 1.25em;
}

p,
ul {
    margin-bottom: 1.5em;
}

